.container
  .row.mb-5
    .col-12.text-center
      %h1.text-white Maintenance Requests

  .row
    .mb-3{class: current_user.system_admin? ? "col-lg-4" : "col-lg-6"}
      .d-flex.justify-content-center
        = link_to new_request_path do
          .dashboard-button
            .d-flex.h-100.justify-content-center.align-items-center
              .icon-info.text-center
                %h1
                  %i.fa.fa-wrench{ "aria-hidden" => "true" }
                %h3 New

    .mb-3{class: current_user.system_admin? ? "col-lg-4" : "col-lg-6"}
      .d-flex.justify-content-center
        = link_to requests_path do
          .dashboard-button
            .d-flex.h-100.justify-content-center.align-items-center
              .icon-info.text-center
                %h1
                  %i.fa.fa-list{ "aria-hidden" => "true" }
                %h3 View

    - if current_user.system_admin?
      .col-lg-4.mb-3
        .d-flex.justify-content-center
          = link_to upload_requests_path do
            .dashboard-button
              .d-flex.h-100.justify-content-center.align-items-center
                .icon-info.text-center
                  %h1
                    %i.fa.fa-upload{ "aria-hidden" => "true" }
                  %h3 Upload
